<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wangke.wkapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".WKApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Base.Title">
        <activity
            android:name="com.github.mzule.activityrouter.router.RouterActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="wkapp" /> <!-- 改成自己的scheme -->
            </intent-filter>
        </activity>
        <activity android:name=".WKMainActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"></activity>
    </application>

</manifest>